.player {
    display: flex;
    align-items: center;
    background-color: rgba(141, 92, 0, 0.8);
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    cursor: pointer;

    &:hover {
        filter: brightness(1.1);
    }

    span {
        font-size: 32px;
        margin-left: 16px;
        
    }

    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.playerActive {
    background-color: rgba(0, 128, 0, 0.8) !important;
}
