<app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 100 + (i * 70)}"
    [playerActive]="i == game.currentPlayer" [image]="game.player_images[i]" [name]="player" class="playerPosition">
</app-player>
<div *ngIf="gameOver" class="gameOver">
    <img src="./assets/img/gameover.png">
</div>
<div class="gameField">

    <div class="cardStack">
        <!-- Card stack -->
        <img *ngFor="let c of [0,1,2,3,4]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="topCard" style="right: 25px;"
            src="assets/img/cards/card_cover.png">

        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="playedCard" src="assets/img/cards/{{ card }}.png">

        <!-- Current card (Animation) -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation"
            class="pickCard" style="right: 25px;" src="assets/img/cards/{{ game.currentCard }}.png">
    </div>
</div>
<app-game-card-rules [card]="game.currentCard" class="pinBottom"></app-game-card-rules>
<app-rulesbtn></app-rulesbtn>
<button mat-fab color="primary" class="btnAdd" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>
