<button id="rulesBtn" (click)="openRules()">Game Rules</button>
<div class="rulesCenter">
    <div id="rulesText" class="d-none">
        <ul class="rulesArea">
            <h1><u>So, what are the rules of ring of fire?</u></h1><br>
            <span>A tall glass is put in the middle of the table, and surrounded by the playing cards facing down in a
                big circle (see picture above). This becomes the 'ring of fire'. Players take it in turns to draw a card
                from the deck, taking care not to break the circle - e.g. making sure every card touches at least one
                other that is left in the circle. If you break the circle, you have to drink. For every card you draw,
                there is a specific rule -</span> <br><br>
            <li><b>2 - You</b>, the player who drew the card picks someone to drink.</li>
            <li><b>3 - Me</b>, the player who drew the card drinks.</li>
            <li><b>4 - </b>All those who identify as female drink.</li>
            <li><b>5 - Thumbmaster</b>, the player who drew the card must put their thumb on the table at a chosen time
                (before the next five gets picked though, or they lose the right). The last person to put their thumb on
                the table must drink.</li>
            <li><b>6 - </b>All those who identify as male drink.</li>
            <li><b>7 - Heaven</b>, the player who drew the card must point to the sky (at any chosen time before the
                next 7 is drawn). The last person who points to the sky must drink.</li>
            <li><b>8 - Mate</b>, the player who drew the card picks a drinking mate, who must drink every time they
                drink. As a secondary rule, you can decide whether that means you always have to drink when they drink,
                too.</li>
            <li><b>9 - Rhyme</b>, the player who drew the card says a word, and you go around the circle rhyming with
                that word until someone messes up, and has to drink.</li>
            <li><b>10 - Categories</b>, the player who drew the card thinks of a category (e.g. dogs, cars, types of
                alcohol), and you go around the circle naming words in that category until someone messes up, and has to
                drink.</li>
            <li><b>Jack </b>- Make a rule. The player who drew the card makes a new rule (e.g. you can't say the word
                'yes' or you can't put your drink down) and anyone who breaks the rule at any time throughout the rest
                of the game has to drink.</li>
            <li><b>Queen </b>- Question master. You become the question master, and if anybody answers a question asked
                by you (the player who drew the card), they have to drink. This applies to ANY question.</li>
            <li><b>King </b>- the player who drew the card must pour some of their drink into the cup in the middle. The
                person to draw the last King has to drink whatever is in the cup in the middle.</li>
            <li><b>Ace - waterfall</b>. Starting with the player who drew the card, every player has to continually
                drink their drink. You can only stop when the person to their right has stopped drinking.</li><br>
            <span>Prepare for a very fun (and probably very drunk) evening. Please drink responsibly.</span>
            <button class="closeBtn" (click)="closeRules()">x</button>
        </ul>
    </div>
</div>